body{
  background: #f1f1f1;
  margin:0;
  padding:0;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
nav ul{
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
}
nav li{
  list-style-type: none;
  padding: 15px 0;
  border-top: 1px solid #000;
}
nav a{
  color: white;
  text-decoration: none;
  display: block;
}
/* Make all images responsive */
img{
  width: 100%;
}
/* ------- Homepage main img --------------*/
#hero{
  background: url('img/Alan-Caldwell-Pexels-min.jpg');
  /* https://www.pexels.com/photo/automobile-campervan-camping-cars-587976/ */
  background-size: cover;
  background-position: center 80%;
  height: 570px;
}
/* ------- About page main img --------------*/
#about-hero{
  background: url('img/hiking-min.jpeg');
  /* https://www.pexels.com/photo/orange-backpack-840719/ */
  background-size: cover;
  background-position: center 80%;
  height: 570px;
}
/* ------- Gallery page main img -------------*/
#gallery-hero{
  background: url('img/Randaniel-min.jpg');
  /* https://c1.staticflickr.com/2/1689/25505901876_80320abe05_h.jpg */
  background-size: cover;
  background-position: 0 30%;
  height: 570px;
}
/* ------- Contact page main img -------------*/
#contact-hero{
  background: url('img/people-waterfall-min.jpeg');
  /* https://www.pexels.com/photo/adventure-boy-girl-idyllic-450441/ */
  background-size: cover;
  background-position: 0 center;
  height: 570px;
}
/* Holds the h1 and h2 for each page */
#hero-overlay{
  text-align: right;
  margin-right: 12%;
  position: relative;
  top: 2%;
}
/* Change alignment for Gallery page*/
#gallery-hero #hero-overlay{
  text-align: left;
  margin-left: 12%;
  position: relative;
  top: 2%;
}
#hero-overlay h1,
#hero-overlay h2{
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  color: white;
  font-weight: 100;
}
#hero-overlay h1{
  font-size: 2rem;
  line-height: 1.2em;
  margin-bottom: 0;
}
#hero-overlay h2{
  margin-top: 10px;
}
section{
  margin: 10px auto;
  width: 90%;
}
figure{
  margin: 0;
  position: relative;
}
figcaption{
  position: absolute;
  bottom: 5px;
  height: 35px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 5px;
}
figcaption span{
  padding-left: 10px;
}
footer{
  background: rgba(55, 88, 111, 0.7);
  color: white;
  margin: 20px auto 0 auto;
  width: 100%;
  padding: 20px 0;
}
footer small{
  margin: 0 20px;
  display: block;
}
footer a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
/* ------ About page ------------------*/
.event{
  border-bottom:1px solid #ccc;
  padding:2.5%;
  height:100%;
}
.event:first-of-type{
  border-top:1px solid #ccc;
}
.date{
  width:22%;
  float:left;
  margin-right:4%;
  font-weight: bold;
  font-size:.8em;
  text-align: center;
  text-transform: uppercase;
}
.description{
  color:#2191cb;
  margin-bottom:2.5%;
}
.description span{
  color:#000;
  font-size: .8em;
  cursor: pointer;
}
/* ------- Gallery page --------------*/
/* Grid styles for photos */
.flexbox{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  width:90%;
  margin: 2% auto 0;
}
.flexbox div{
  margin:2%;
  width:350px;
  flex-grow:1;
}
.flexbox img{
  width: 100%;
  height:auto;
}
/* Gallery lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.lightbox-content {
  position: relative;
  margin: 8% auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
}
.close {
  color: white;
  position: relative;
  top: -5px;
  right: -97%;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
/* ------- Contact form ---------------*/
form{
  width:90%;
  margin: 20px auto;
}
form p{
  margin-bottom:5px;
}
label{
  display:block;
  padding:2% 0;
}
input{
  width:100%;
  padding:2%;
  font-size: 0.9em;
}
textarea{
  min-height:100px;
  width:100%;
  padding:2%;
  font-size: 0.9em;
  border: 1px solid #ccc;
}
input[type=file]{
  padding-left: 0;
}
input[type=checkbox]{
  width:auto;
  cursor: pointer;
}
/* Hide original ugly input file button */
#hide{
  height:0px;
  width:0px;
  overflow:hidden;
}
input[type=submit],
#btn{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  width:104%;
  text-align: center;
  margin-top: 3%;
  padding:10px 0;
  cursor: pointer;
}
.iphone #btn{
  width: 90%;
  border: 1px solid black;
  border-radius: 3px;
  font-size: .9em;

}
/* ------- Thanks / Submit page ---------------*/
#thanks{
    text-align: center;
    height:76vh;
  }




@media only screen and (min-width: 700px) {
  nav li{
    display: inline-block;
    padding: 15px;
  }
  #hero,
  #about-hero,
  #contact-hero{
    height: 90vh;
  }
  #hero-overlay h1{
    top: 10%;
    font-size: 3.5rem;
  }
  #hero-overlay{
    margin-right:5%;
  }
  article{
    float: left;
    width: 48%;
    padding-left: 4%;
  }
  article:first-of-type{
    padding-left: 0;
  }
  #no-top-margin{
    margin-top:0;
  }
  .clearfix::after{
    content:" ";
    clear: both;
    display: table;
  }
  /* ------- About page --------------*/
  .date{
    margin-right:1%;
  }
  /* ------- Gallery page --------------*/
  .flexbox div{
    margin:1%;
    cursor: pointer;
  }
  .lightbox-content{
    margin: auto;
  }
  /* ------- Contact page --------------*/
  form{
    width:50%;
    margin: 10px auto;
  }
  #btn{
    width: 104%;
  }
}
